.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #0b0a15;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.files {
  background-color: #1c2333;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  overflow: auto;
  border: 1px solid rgb(255, 255, 255);
}

.console {
  background-color: #1c2333;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 28%;
  height: 100%;
  overflow: auto;
  border: 1px solid rgb(255, 255, 255);
}

.console-inner {
  padding: 0.2rem;
  padding-left: 0.3cm;
  padding-right: 0.3cm;
}

.console-content {
  font-family: monospace;
  text-align: left;
  font-size: 0.3cm;
}